# (C) Copyright 2021 Hewlett Packard Enterprise Development LP
apiVersion: apps/v1
kind: Deployment
metadata:
  name: airgap-utility1
  labels:
    app: airgap-utility1
spec:
  replicas: {{ airgap_replica }}
  selector:
    matchLabels:
      app: airgap-utility1
  template:
    metadata:
      labels:
        app: airgap-utility1
    spec:
      containers:
      - name: airgap-utility1
        image: registry.suse.com/bci/bci-base
        env:
        - name: https_proxy
          value: {{ proxy_url_https }}
        - name: http_proxy
          value: {{ proxy_url_http }}
        - name: no_proxy
          value: {{ airgap_noproxy }}
        command: ["/bin/sh"]
        args: ["-c", "while true; do zypper install -y skopeo; zypper install -y wget; zypper addrepo 'http://download.opensuse.org/repositories/devel:/tools:/scm/15.3/devel:tools:scm.repo'; zypper install -y python3; zypper install -y python3-pip; wget 'https://ezmeral-platform-releases.s3.amazonaws.com/5.4.1/3073/hpeairgaputil-1.1-py2.py3-none-any.whl'; pip3 install hpeairgaputil-1.1-py2.py3-none-any.whl; sleep 10; done"]
        resources: {}
      dnsPolicy: ClusterFirst

